:root {


/* font sizes */
--font-size-xs: clamp(0.825rem, 3.5vw, 0.9rem) ;
--font-size-s: clamp(1rem, 4vw , 1.25rem) ;
--font-size-m: clamp(1.2rem, 4.6vw, 1.5rem) ;
--font-size-l: clamp(1.625rem, 6.5vw, 2rem) ;
--font-size-xl: clamp(2.2rem, 8.8vw, 2.75rem);
--font-size-xxl: clamp(5rem, 20vw, 6.25rem);

--line-height-s: 0.75em ;
--line-height-m: 1.3em ;
--line-height-l: 1.95em ;
--line-height-xl: 2.6em ;

/* colors */
--white: #fefefe ;
--black: #333 ;
--greyXTD: #CFCFCF ;
--greyText: hsl(0, 0%, 46%) ;
/* --blue: #002BC6 ; */
--blue: mediumblue ;

/* spaces */
--space-xs: 4px ;
--space-s: 8px ;
--space-m: 12px ;
--space-l: 28px ;
--space-xl: 80px ;
--space-xxl: 200px ;


}