@import '_variables.css';
@import '_base.css';
@import '_typography.css';
@import '_layout-info.css';

html {
    scroll-behavior: smooth;
}
body {
    position: relative;
    min-height: 100vh ;
    margin: 0 ;
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: var(--font-size-s);
    line-height: 1.3; 
    background-image: linear-gradient(var(--greyXTD) 10%, #f2f2f2 100%);
    background-color: #f2f2f2;
    background-repeat: repeat-x;
    background-size: 100vw 110vh;
}

.containerTop {
    display: inline-block; /* prevents margins of children from collapsing outside */
    margin-left: 0;
    margin-right: 0;
    width: 100%;
}
.navMenu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-l) var(--space-s);
    margin-right: var(--space-l);
    margin-left: var(--space-l);

}
@media screen and (Min-width:770px) {
 .navMenu {
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    gap: var(--space-m) var(--space-s);

 }
}

.navMenu .menuitem {
    font-weight: 400;
    color: rgba(0,0,0,.95);
    /* padding: 10px 10px; */

    white-space: nowrap;
    min-width: 15em;
}
@media screen and (Min-width:770px) {
    .navMenu .menuitem {
        min-width: initial;
    }
}

.menuitem {
    text-decoration: none;
}

#site-nav {
  margin-right: var(--space-l);
  margin-left: var(--space-l);
}

/* 
* Mobile menu
*/
@media screen and (Min-width:750px) {
  #toggle, #toggle-label {
    display: none;
  }
}
@media screen and (Max-width:749px) {
  #menuToggle {
    display: flex;
    justify-content: center;
    z-index: 1;  
  }
  
  #menuToggle input {
    position: absolute;
    padding: 0;
    cursor: pointer;  
    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */  
    -webkit-touch-callout: none;
  }
  
  #menuToggle label {
    position: relative;
    z-index: 2;
  }

  #menuToggle input:checked ~ label::after {
    content: ' ×';
  }
  
  #menu-mobile {
    position: fixed;
    top: -1000vw;
    padding-top: var(--space-xl);
    padding-bottom: var(--space-l);
    margin-top: -12px;
    transform: scale(0.95);
    transform-origin: top;
    border-radius: 6px;
    background-color: var(--greyXTD);
    list-style-type: none;
    /* Hide the menu off-screen to the left */
    /* left: -100vw; */
    opacity: 0;
    height: 0;
    box-shadow: 0 0 60px 0px var(--greyXTD);
    transition:  transform 50ms ease-out, box-shadow 700ms 50ms ease, background-color 300ms 40ms ease; 
  }
  
  /*
  * Slide the menu in from left when the input is checked
  */
  #menuToggle input:checked ~ #menu-mobile {
    top: auto;
    background-color: white;
    height: auto;
    opacity: 1;
    transform: scale(1) translateY(-3px);
    box-shadow: 0 0 600px 100px var(--blue);

  }
}

.boxed-frame {
    border: 1px solid var(--black) ;
}


/*
* Search bar styles
*/
#search {
    color: rgba(0,0,0,.95);
    margin-top: var(--space-l);
    margin-right: var(--space-l);
    margin-left: var(--space-l);

}
.hidden {
    display: none;
}
input#searchString {
    width: 100%;
    /* font-size: var(--font-size-m); */
}
input#searchString:focus,
input#searchString:focus-visible,
input#searchString:focus-within {

    outline: none;
    box-shadow: 0 0 600px 100px;
}
#resultList li {
    list-style: none;
    margin-bottom: var(--space-l);
}
#resultList a {
    display: inline-block;
}


/*
* main content container
*/
.main-container {
    /* width: 90%; */
    width: calc(100% - var(--space-l) - var(--space-l));
    margin-top: 15vh;
    margin-left: auto;
    margin-right: auto;
    max-width: 32em;
}
.centered {
    text-align: center;
    justify-content: center;
}
.column {
    text-align: left;
}


/* logo header */
#mastfoot,
#masthead {
    text-align: justify;
    margin-top: var(--space-l);
    margin-right: var(--space-l);
    margin-left: var(--space-l);

}
#masthead > span {
}
#mastfoot::after,
#masthead::after {
    content: " ";
    display: inline-block;
    width: 100%;
}

#mastfoot {
    transform: rotateZ(180deg);
}

footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    padding-bottom: var(--space-l);
}
#footer-padding {
    padding-top: 50vh;
}

/* layout for Acteurs & Projets */
/*
* CSS styles for the CSV tables
*/
.csvHeaderWrapper {
    position: relative;
}

#tools {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--space-m);
    
    margin-bottom: var(--space-xl);
}
@media screen and (min-width: 600px) {
    #tools {
        flex-direction: row;
    }
}
.search-bar {
    font-family: var(--font-serif);
    font-size: var(--font-size-s) ;
    
    padding-top: var(--space-m);
    padding-right: var(--space-m);
    padding-bottom: var(--space-m);
    padding-left: var(--space-m );
    border: 1px solid var(--black);
    border-radius: 0;

}

#tools .search-bar {
    width: auto;
    flex-grow: 1;
}

#sort {
    display: flex;
    flex-direction: row;
}
#sort .sort--segment {
    /* width: auto ; */
    flex-grow: 1;
}

.sort--segment {
    font-family: var(--font-serif);
    font-size: var(--font-size-xs) ;

    padding-top: var(--space-m);
    padding-right: var(--space-l);
    padding-bottom: var(--space-m);
    padding-left: var(--space-l);
    
    border-top: 1px solid var(--greyXTD);
    border-bottom: 1px solid var(--greyXTD);
    border-left: 0 ;
    border-right: 0 ;

    background-color: transparent ;
    
}

.sort--segment:first-of-type {
    border-left: 1px solid var(--greyXTD);
}
.sort--segment:last-of-type {
    border-right: 1px solid var(--greyXTD);
}
     
.sort--segment__selected {
    color: var(--greyText);
}
button.sort--segment:hover {
    cursor: pointer;
    background-color: var(--greyXTD);
}

/* Style the tab */
.tab {
    width: fit-content;
    overflow: hidden;
  }
/* Style the buttons inside the tab */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    /* outline: none; */
    cursor: pointer;
    padding: var(--space-m) var(--space-l);
    /* transition: 0.3s; */

    font-family: var(--font-serif);
    font-size: var(--font-size-l);
    border-bottom: 1px solid var(--black);
  }
/* Change background color of buttons on hover */
.tab button:hover {
    border-bottom: 6px solid var(--blue);
    /* color: var(--blue); */
  }
/* Create an active/current tablink class */
.tab button.active {
    /* background-color: #ccc; */
    border-bottom: 6px solid var(--black);
  }
/* Style the tab content */
.tabcontent {
    display: none;
    overflow-wrap: break-word;
    border-top: none;
  }

  


.acteurs--article,
.projects--article {
    margin-bottom: var(--space-xl);
}

.acteurs--article a,
.projects--article a {
    display: grid;
    grid-template-columns: 1fr 1fr;

    padding: 0;
    margin: 0;

    border-radius: 0 ;
    border-top: 1px solid var(--black) ;
    border-right: 1px solid var(--black) ;
    border-left: 1px solid var(--black) ;
    border-bottom: 1px solid var(--black) ;
}
.acteurs--article a:hover,
.projects--article a:hover {
    border-radius: 6px ;
}

.acteurs--article a > *,
.projects--article a > * {
    padding-top: var(--space-m);
    padding-right: var(--space-m);
    padding-bottom: var(--space-m);
    padding-left: var(--space-m);
}
@media screen and (min-width: 600px) {
    .acteurs--article a > *,
    .projects--article a > * {
    padding-top: var(--space-l);
    padding-right: var(--space-l);
    padding-bottom: var(--space-l);
    padding-left: var(--space-l);
    } 
}

.acteurs--article--title,
.projects--article--title {
    font-size: var(--font-size-m);
    margin-top: 0;
    margin-bottom: 0 ;
    grid-column: 1 / -1;

}

.acteurs--article--title {
    min-height: 5rem;
}

@media screen and (min-width:600px) {
.acteurs--article--title {
/* .projects--article--title { */
        grid-column: 1 / 2;
    }
}

.acteurs--article--info,
.projects--article--info {
    display: flex;
    /* flex-wrap: wrap; */
    flex-direction: column;
    gap: var(--space-s) var(--space-l);

    grid-column: 1 / -1;
    border-top: 1px solid var(--black) ;

    color: var(--black);

}
@media screen and (min-width:600px) {
    .acteurs--article--info, 
    .projects--article--info {
        grid-column: 2 / -1;
        border-left: 1px solid var(--black) ;
        border-top: 0 ;


    }
}


.acteurs--article--services,
.projects--article--services {
    grid-column: 1 / -1 ;

    margin-top: 0 ;
    margin-bottom: 0 ;

    border-top: 1px solid var(--black) ;

    color: var(--greyText);
    list-style: none;
}

.projects--article--description {
    display: block ;
    margin-bottom: var(--space-l);
}

.acteurs--article--services ul,
.projects--article--services ul {
    margin-top: 0 ;
    margin-bottom: 0 ;

    list-style: none;
}