.containerTop {
    margin-left: 0;
    margin-right: 0;
    border-bottom: 2px solid rgba(34,36,38,.15);
    width: 100%;
}
.navMenu {
    display: flex;
    justify-content: center;
}
.navMenu .item {
    font-weight: 700;
    color: rgba(0,0,0,.95);
    padding: 10px 10px;
}

/*
* Search bar styles
*/
#search {
    font-weight: 700;
    color: rgba(0,0,0,.95);
    padding: 10px 10px;
    margin-left: 100px;
}
.hidden {
    display: none;
}


/*
* main content container
*/
.main-container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.centered {
    text-align: center;
    justify-content: center;
}
.column {
    text-align: left;
}

/*
* CSS styles for the CSV tables
*/
table {
    border-collapse: collapse;
    margin-top: 50px;
}

.csvTable td, th {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0px;
}
