{% extends "layouts/base.html" %} 

{% block content %}

<table>
  <thead>
    <tr>
      {% for col in csvReader.acteursHeaders %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in csvReader.acteursData %}
    <tr>
        <td>{{ row.Nom }}</td>
        <td>{{ row.Nature }}</td>
        <td>{{ row["Nombre d'employés"] }}</td>
        <td>{{ row['Date de création'] }}</td>
        <td>{{ row.Secteur }}</td>
        <td>{{ row['Service 1'] }}</td>
        <td>{{ row['Service 2'] }}</td>
        <td>{{ row['Service 3'] }}</td>
        <td>{{ row['Service 4'] }}</td>
        <td>{{ row['Service 5'] }}</td>
        <td>{{ row['Service 6'] }}</td>
        <td>{{ row.Localisation }}</td>
        <td>{{ row['Projet muséal développé 1'] }}</td>
        <td>{{ row['Projet muséal développé 2'] }}</td>
        <td>{{ row['Projet muséal développé 3'] }}</td>
        <td>{{ row['Projet muséal développé 4'] }}</td>
        <td>{{ row['Projet muséal développé 5'] }}</td>
        <td>{{ row['Projet muséal développé 6'] }}</td>
        <td>{{ row['Projet muséal développé 7'] }}</td>
        <td>{{ row['Projet muséal développé 8'] }}</td>

    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}