{% extends "layouts/base.html" %} 

{% block content %}

<table>
  <thead>
    <tr>
      {% for col in csvReader.projectsHeaders %}
      <th>{{ col }}</th>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% for row in csvReader.projectsData %}
    <tr>
        <td>{{ row.nom }}</td>
        <td>{{ row.Pourquoi }}</td>
        <td>{{ row.Comment }}</td>
        <td>{{ row['Quoi ?'] }}</td>
        <td>{{ row.Mandant }}</td>
        <td>{{ row['Partenaires et/ou Prestataires techniques/technologiques'] }}</td>
        <td>{{ row.PartenairesB }}</td>
        <td>{{ row.Partenairesc }}</td>
        <td>{{ row['Début'] }}</td>
        <td>{{ row['Scope/périmètre '] }}</td>
        <td>{{ row.Localisation }}</td>
        <td>{{ row['Portée'] }}</td>
        <td>{{ row.Contact }}</td>
        <td>{{ row['Remarque(s)'] }}</td>
        <td>{{ row['Connaissance grâce à : '] }}</td>
        <td>{{ row.Financement }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>

{% endblock %}