<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title><%=title?title:"MuseumXTD"%></title>
    <link rel="stylesheet" href="/css/main.css"/>
  </head>
  <body>
    <div class="containerTop">
      <div id="masthead">
        M u s e u m X T D
      </div>
      <!-- topbar Menu -->
      <div class="navMenu">
        <a class="menuitem" href='/'>Accueil</a>
        <!-- <a class="menuitem" href='/Navigation/Guide/'>Numérique & Musée</a> -->
        <!-- <a class="menuitem" href="/Navigation/Musées de Pully - cas d'étude/">Cas Ramuz</a> -->
        <a class="menuitem" href='/Navigation/Forum/'>Forum</a>
        <!-- <a class="menuitem" href='/tables/projects/'>Projects</a> -->
        <!-- <a class="menuitem" href='/tables/acteurs/'>Acteurs & Projets</a> -->
        <a class="menuitem" href='/Navigation/A propos/'>À propos</a>
      </div>
    </div>
    <div class='main-container'>
      <div class='centered'>
        <div class='column'>
          <div class='ui basic segment'>
            <%- content %>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div id="mastfeet">
        M u s e u m X T D
      </div>
    </footer>
  </body>
</html>