<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ '/css/main.css' | url }}" />
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <script src="/assets/search.js" defer></script>

  </head>
  <body>
    <div class="containerTop">
      <div id="masthead">
        M u s e u m X T D
      </div>
      <!-- topbar Menu -->
      <nav id="site-nav" role="navigation">

        <div class="navMenu">
          <a class="menuitem" href='/'>Accueil</a>
          <!-- <a class="menuitem" href='/Navigation/Guide/'>Numérique & Musée</a> -->
          <!-- <a class="menuitem" href="/Navigation/Musées de Pully - cas d'étude/">Cas Ramuz</a> -->
          <a class="menuitem" href='/Navigation/Forum/'>Forum</a>
          <!-- <a class="menuitem" href='/tables/projects/'>Projects</a> -->
          <!-- <a class="menuitem" href='/tables/acteurs/'>Acteurs & Projets</a> -->
          <a class="menuitem" href='/Navigation/A propos/'>À propos</a>
        </div>
      </nav>
{#   **** to be added at a later date
      <div id="search">
        <input type="search" id="searchString" placeholder="Veuillez entrer plus de trois lettres"> <button onclick="search()">Chercher</button>
        <div id="results" class="hidden">
          <h3>Résultats</h3>
          <ul id="resultList">
          </ul>
        </div>
        <p id="noResults" class="hidden"> Désolé, aucun résultat n'a été trouvé. </p>
      </div>
#}
    </div>
    {{ content | safe }}
    <footer>
      <div id="mastfeet">
        M u s e u m X T D
      </div>
    </footer>
  </body>
  <script defer>
    document.getElementById('searchString').addEventListener('input', (event) => {
      search();
    });
  </script>
</html>