<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/main.css" />

  </head>
  <body>
    <div class="containerTop">
      <div id="masthead">
        M u s e u m X T D
      </div>
      <!-- topbar Menu -->
      <div class="navMenu">
        <a class="menuitem" href='/'>Accueil</a>
        <!-- <a class="menuitem" href='/museumXTD/Navigation/Guide/'>Numérique & Musée</a> -->
        <!-- <a class="menuitem" href="/museumXTD/Navigation/Musées de Pully - cas d'étude/">Cas Ramuz</a> -->
        <a class="menuitem" href='/Navigation/Forum/'>Forum</a>
        <!-- <a class="menuitem" href='/museumXTD/tables/projects/'>Projects</a> -->
        <!-- <a class="menuitem" href='/museumXTD/tables/acteurs/'>Acteurs & Projets</a> -->
        <a class="menuitem" href='/Navigation/A propos/'>À propos</a>
      </div>
    </div>
    {{ content | safe }}
  </body>
</html>