---
layout: layouts/tablesBase.njk
---
<br>
<br>
<br>
<div class='layout-post main-container'>
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment'>
				<%- content %>
			</div>
            <br>
            <div class='csvHeaderWrapper'>
                <div class='tab'>
                    <button class='tablinks active' onclick='openTab(event, "acteurs")'>acteurs</button>
                    <button class='tablinks' onclick='openTab(event, "projects")'>projets</button>
                </div>
                <div id='acteurs' class='tabcontent' style='display: block'>
                    <br>
                    <p><%=acteursTitle?acteursTitle:"La liste de ces actrices et acteurs"%></p>
                    <div id='tools'>
                        <input type='search' id='searchActeurs' class='search-bar' placeholder='Recherche avec plus de trois lettres'>
                        <div id='sort'>
                            <button id='az' onclick='sortCSVData(event, "acteurs","az")' class='sort--segment'>A>Z</button>
                            <button id='sector' onclick='sortCSVData(event, "acteurs","Type")' class='sort--segment'>Type</button>
                            <button id='local' onclick='sortCSVData(event,"acteurs","local")' class='sort--segment'>Lieu</button>
                        </div>
                    </div>
                    <div id='results' class='hidden'>
                        <h3>Résultats</h3>
                        <ul id='resultsList'>
                        </ul>
                        <p id='noResults' class='hidden'> Désolé, aucun résultat n'a été trouvé. </p>
                    </div>
                    <div id='acteursData'></div>
                </div>
                <div id='projects' class='tabcontent'>
                    <br>
                    <p><%=projectsTitle?projectsTitle:'La liste de ces projects'%></p>
                    <div id='tools'>
                        <input type='search' id='searchProjects' class='search-bar' placeholder='Recherche avec plus de trois lettres'>
                        <div id='sort'>
                            <button id='az' onclick='sortCSVData(event,"projects","az")' class='sort--segment'>A>Z</button>
                            <button id='sector' onclick='sortCSVData(event,"projects","Type")' class='sort--segment'>Date</button>
                            <button id='local' onclick='sortCSVData(event,"projects","local")' class='sort--segment'>Lieu</button>
                        </div>
                    </div>
                    <div id='results' class='hidden'>
                        <h3>Résultats</h3>
                        <ul id='resultsList'>
                        </ul>
                        <p id='noResults' class='hidden'> Désolé, aucun résultat n'a été trouvé. </p>
                    </div>
                    <div id='projectsData'></div>
                </div>
            </div>
            <script>
                function openTab(evt, tabName) {
                    var i, tabcontents, tablinks;
                    tabcontents = document.getElementsByClassName('tabcontent');
                    for (i = 0; i < tabcontents.length; i++) {
                    tabcontents[i].style.display = 'none';
                    }
                    tablinks = document.getElementsByClassName('tablinks');
                    for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(' active', '');
                    }
                    document.getElementById(tabName).style.display = 'block';
                    evt.currentTarget.className += ' active';
                }
            </script>
            <script defer>
                document.getElementById('searchActeurs').addEventListener('input', (event) => {
                    searchCSV('acteurs', event);
                });
                document.getElementById('searchProjects').addEventListener('input', (event) => {
                    searchCSV('projects', event);
                });
                
            </script>
		</div>
	</div>
</div>