---
layout: layouts/base.ejs
---
<br>
<br>
<br>
<div class='main-container'>
	
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment'>
				<%-content%>
			</div>
		</div>
	</div>
</div>