---
layout: layouts/base-mobile.njk
---
<br>
<br>
<br>
<div class='layout-post main-container'>
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment'>
				{{ content | safe }}
			</div>
		</div>
	</div>
</div>