---
layout: layouts/base.ejs
---
<br>
<br>
<br>
<div class='main-container'>
	
	<div class='centered'>
		<div class='column'>
			<div class='ui basic segment' style="font-size: 18px;line-height: 1.5em">
				<%-content%>
			</div>
		</div>
	</div>
</div>