<!DOCTYPE html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta name='viewport' content='width=device-width, initial-scale=1.0' />
    <meta http-equiv='X-UA-Compatible' content='ie=edge' />
    <title>{{title}}</title>
    <link rel='stylesheet' href="{{ '/css/main.css' | url }}" />
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-J2QK69ZNT6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-J2QK69ZNT6');
    </script>
    <script src="https://unpkg.com/lunr/lunr.js"></script>
  </head>
  <body>
    <div class='containerTop'>
      <div id='masthead'>
        M u s e u m X T D
      </div>
      <!-- topbar Menu -->
      <nav id="site-nav" role="navigation">
        <div id="menuToggle"> 
          <!--
          hidden checkbox is used as click reciever,
          so you can use the :checked selector on it.
          -->
          <input id="toggle" name="toggle" type="checkbox" />
          <label id="toggle-label" for="toggle">
            <span>menu</span>
          </label>

          <div id="menu-mobile" >
            <div class="navMenu" >
              {% include './nav.njk' %}
            </div>
          </div>
        </div>
      </nav>
    </div>
    {{ content | safe }}
    <footer>
      <div id='mastfoot'>
        M u s e u m X T D
      </div>
    </footer>
    <div id="footer-padding"></div>
  </body>
</html>